.num-btn {
    width: 65px;
    height: 65px;
    border-radius: 36px;
    color: #fff;
    background: darkslategray;
    border:1px solid darkslategray;
    font-size: 30px;
    cursor: pointer;
}