.signs-btn {
    width: 65px;
    height: 65px;
    border-radius: 36px;
    color: #fff;
    background: darkorange;
    border: 1px solid darkorange;
    font-size: 30px;
    cursor: pointer;
}